.md-upload-box {
    padding: 20px;
    text-align: center;
    border: 4px dashed #bbb;
}

.md-upload-box span.action-upload-panel {
    display: block;
    padding: 30px;
}

.md-upload-box span.action-upload-panel a {
    font-size: 14px;
    font-weight: bold;
}

.md-upload-box span.action-upload-panel a i {
    margin-right: 5px;
}

.md-slideshow-images ul li {
    float: left;
    width: 14.28%;
    cursor: move;
}

.md-slideshow-images .wp-filter {
    padding: 10px;
    margin: 20px 0 10px;
}

.md-slideshow-images .wp-filter span {
    font-size: 16px;
    font-weight: bold;
    line-height: 2;
}

.md-slideshow-images .wp-filter a {
    float: right;
    margin: 0px 5px;
}

.md-slideshow-images ul li div.remove-image {
    position: relative;
    top: 20px;
    float: right;
    right: 10px;
}

.md-slideshow-images ul li div.remove-image a i {
    text-shadow: 0px 1px 2px #4C4C4C;
    color: white;

}